<div appHover class="card">
  <img [ngStyle]="{ 'height': '260px'}" [src]="card.thumbnail" class="card-img-top" [alt]="card.subHeader">
  <div class="card-body">
    <h5 class="card-title"> {{ card.header }}</h5>
    <p class="card-text"> {{ trimText(card.subHeader)}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li appHighlight [highlightColor]="'green'" class="list-group-item">Price: {{ card.price | currency }}</li>
    <li class="list-group-item">Rating: <app-rating [rating]="card.rating"></app-rating>
    </li>
    <li [ngStyle]="{'color': card.stock  === 0 ? 'red' : 'black'}" class="list-group-item">Stock: {{ card.stock | stock
      }}</li>
  </ul>
  <div class="card-body">
    <a [routerLink]="['/products', card.id]" class="btn btn-dark">More Info</a>
    <button [disabled]="isDisabled" (click)="handleClick()"
      [ngClass]="{'btn-primary': !isDisabled, 'btn-secondary': isDisabled}" class="ms-3 btn">Add to cart</button>
  </div>
</div>
