<app-navbar></app-navbar>
<app-banner></app-banner>
<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-5">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <!-- item 1 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">iPhone 9</h5>
            <p class="card-text">An apple mobile which is nothing like apple
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 1 ends-->

      <!-- item 2 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/2/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">iPhone X</h5>
            <p class="card-text">SIM-Free, Model A19211 6.5-inch Super Retina HD display with OLED technology A12 Bionic
              chip with ...
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 2 ends-->

      <!-- item 3 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/3/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">Samsung Universe 9</h5>
            <p class="card-text">Samsung's new variant which goes beyond Galaxy to the Universe
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 3 ends-->

      <!-- item 4 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/4/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">Oppo F19</h5>
            <p class="card-text">OPPO F19 is officially announced on April 2021.
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 4 ends-->

      <!-- item 5 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/5/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">Huawei P30</h5>
            <p class="card-text">Huawei’s re-badged P30 Pro New Edition was officially unveiled yesterday in Germany and
              now the device has made its way
              to the UK.
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 5 ends-->

      <!-- item 6 -->
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card">
          <img src="https://i.dummyjson.com/data/products/7/thumbnail.jpg" class="card-img-top" alt="image1">
          <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Book</h5>
            <p class="card-text">Samsung Galaxy Book S (2020) Laptop With Intel Lakefield Chip, 8GB of RAM Launched
            </p>
            <a href="#" class="btn btn-dark">More Info</a>
            <button class="ms-3 btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- item 6 ends-->

    </div>
  </div>
</section>

<app-footer></app-footer>
