/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  min-height: 100vh;
}
.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.appMain {
  flex-grow: 1;
}
